<footer class="footer footer-dark">
  <div class="d-flex justify-content-between px-5">
    <div>ALL RIGHTS RESERVED 2024</div>
    <img
    src="/images/footer-logo.png"
    alt="logo"
    className="footer-img"
  />
  </div>
</footer>
